[submodule "app/plugins/checking"]
	path = app/plugins/checking
	url = https://github.com/Tamsmiranda/checking.git
[submodule "app/plugins/clipping"]
	path = app/plugins/clipping
	url = https://github.com/Tamsmiranda/clipping.git
